html, body {
  margin: 0;
  padding: 0;
}
canvas{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 2px solid #6cc5eb;
}

.option
{
  font-size: 18px;
  color: #6c6ceb;
}

.question
{
  font-size: 20px;
  color: #eb6c6c;
}

.title
{
  font-size: 50px;
  color: #daeb6c;
}

.message
{
  font-size: 25px;
  color: #eba76c;
}
